<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Checkbox Form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<form th:action="@{/work}" method="post">
    <label for="orderNumber">Order Number:</label>
    <input type="text" id="orderNumber" name="orderNumber" th:value="${orderNumber}" required/><br/><br/>

    <label for="groupSelect">Select Time Group:</label>
    <select id="groupSelect" name="timeGroup" onchange="this.form.submit()">
        <option value="0" th:selected="${selectedGroup == 0}">0 - 8</option>
        <option value="1" th:selected="${selectedGroup == 1}">8 - 16</option>
        <option value="2" th:selected="${selectedGroup == 2}">16 - 24</option>
    </select>
</form>

<form th:action="@{/work/submitCheckboxes}" method="post">
    <input type="hidden" name="timeGroup" th:value="${selectedGroup}"/>
    <table border="1">
        <thead>
        <tr>
            <th>Item/Time</th>
            <th th:each="hour : ${#numbers.sequence(selectedGroup * 8, (selectedGroup + 1) * 8 - 1)}"
                th:text="|${hour}:00 - ${hour + 1}:00|">Hour
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, itemStat : ${timetable}">
            <td th:text="${item}"/>
            <td th:each="hour : ${#numbers.sequence(selectedGroup * 8, (selectedGroup + 1) * 8 - 1)}">
                <input type="checkbox" th:name="|worktable[${itemStat.index}][${hour}][0]|"/>
                <input type="checkbox" th:name="|worktable[${itemStat.index}][${hour}][15]|"/>
                <input type="checkbox" th:name="|worktable[${itemStat.index}][${hour}][30]|"/>
                <input type="checkbox" th:name="|worktable[${itemStat.index}][${hour}][45]|"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="additional-inputs">
        <label for="producedCount">Produced Count:</label>
        <input type="text" id="producedCount" name="producedCount" required/>

        <label for="goodBadCount">Good/Bad Count:</label>
        <input type="text" id="goodBadCount" name="goodBadCount" required/>
    </div>
    <div class="button-container-right">
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>
